.alert {
	border: none;
	border-radius: 3px;
	background: $color__salmon;
	color: #fff;
	padding: 10px 15px;
	font-size: 16px;
	position: fixed;
	top: 95px;
	left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 7px rgba(0,0,0,.2);

    a,
    a:hover,
	a:active {
		font-weight: bold;
		color: #fff;
	}
}